.component-emoji-result-row{
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #29ff031b;
    height: 25px;
    cursor: pointer;
}

.component-emoji-result-row:hover{
    background: #29ff031b;
}

.component-emoji-result-row img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

.component-emoji-result-row .title{
    position: relative;
    top: -8px;
    color: #fff;
}

.component-emoji-result-row .info{
    float: right;
    position: relative;
    top: 8px;
    right: 10px;
    color: #fff;
    display: none;
}

.component-emoji-result-row:hover .info{
    display: inline-block;
}